@import '../../assets/styles/grid.module';

.wrap {
    display: flex;
    justify-content: space-between;
    min-height: 550px;
    margin: 45px auto 0;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .3);
}

.info {
    padding: 20px 40px 44px 40px;
}
