.wrap {
    width: 340px;
}

.subtitle {
    margin-top: -5px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;
    span {
        font-size: 15px;
        font-weight: 300;
        padding-left: 5px;
    }
}

.form {
    &__group {
        margin-bottom: 20px;
    }
    &__grouptitle {
        color: #5A1094;
        font-size: 16px;
        line-height: 16px;
        font-weight: 300;
        margin-bottom: 5px;
    }
    button {
        display: inline-block;
        min-width: 180px;
        margin-top: 10px;
        padding: 12px 10px 13px;
        border-radius: 4px;
        color: #fff;
        background-color: transparentize(#5A1094, .2);
        border: 1px solid transparentize(#431C5D, .2);
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        transition: .2s ease-in;
        text-decoration: none;
        text-align: center;
        &:hover {
            cursor: pointer;
            background-color:#5A1094;
            border: 1px solid#431C5D;
        }
    }
}
